PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=skywars
MC_HOST=localhost
RCON_PORT=25575
RCON_PASS=tu_rcon_password_aqui
ADMIN_SECRET=clave_secreta_del_panel
